@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hading-text {
    @apply text-[#202050] text-2xl leading-[34px] md:text-3xl md:leading-[42px] lg:text-4xl lg:leading-[50px] font-bold font-playfair;
  }

  .hading-color-text {
    @apply text-[#F05A2B] text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  .paragraph-text {
    @apply text-[#05172D] text-base font-inter;
  }

  .nav-paragraph-text {
    @apply text-[#202050] font-inter text-lg transition-all duration-300 hover:text-[#4242FF];
  }

  .nav-paragraph-text.active {
    @apply text-black bg-white;
  }

  .menu li>:not(ul, .menu-title, details, .btn).active,
  .menu li>:not(ul, .menu-title, details, .btn):active,
  .menu li>details>summary:active {
    @apply text-black bg-white;
  }

  .primary-btn {
    @apply rounded-lg bg-primary-gradient flex justify-center items-center gap-2.5 text-white font-inter text-lg font-semibold;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  }

  .browseAllServices-btn {
    @apply bg-browse-all-bg flex justify-center items-center gap-2 px-7 py-2.5 md:px-10 md:py-3.5 rounded-2xl text-xl sm:text-2xl md:text-3xl text-white font-bold transition-all hover:bg-browse-all-bg-hover;
  }

  @keyframes smooth-move-top-bottom {
    0% {
      transform: translateY(-20px);
    }

    50% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(-20px);
    }
  }

  .animate-move {
    animation: smooth-move-top-bottom 4s ease-in-out infinite;
  }

  @keyframes animate {
    0% {
      box-shadow: 0 0 0 0 #eeb09d;
    }

    40% {
      box-shadow: 0 0 0 20px rgba(28, 148, 209, 0);
    }

    80% {
      box-shadow: 0 0 0 20px rgba(28, 148, 209, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(28, 148, 209, 0);
    }
  }

  .play-btn {
    border-radius: 50%;
    text-align: center;
    animation: animate 2s linear infinite;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drawer-content .btn {
    /* background-color: #F05A2B !important; */
    @apply bg-[#F05A2B] text-white border-none;
  }

  .serviceCard {
    @apply bg-white rounded-xl lg:rounded-[40px] py-4 sm:py-8 lg:py-12 px-2 sm:px-5 lg:px-9 transition-all duration-350 cursor-pointer;
  }

  .serviceCard:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  #allServices {
    background-image: url('../image/service/service-bg.png');
    @apply bg-no-repeat bg-cover bg-center;
  }

  ::selection {
    background-color: #F05A2B;
    /* Change this to the desired background color */
    color: #ffffff;
    /* Change this to the desired text color */
  }

}