@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 360px){
  .container{
    max-width: 360px;
  }
}

@media (min-width: 380px){
  .container{
    max-width: 380px;
  }
}

@media (min-width: 400px){
  .container{
    max-width: 400px;
  }
}

@media (min-width: 420px){
  .container{
    max-width: 420px;
  }
}

@media (min-width: 450px){
  .container{
    max-width: 450px;
  }
}

@media (min-width: 480px){
  .container{
    max-width: 480px;
  }
}

@media (min-width: 520px){
  .container{
    max-width: 520px;
  }
}

@media (min-width: 550px){
  .container{
    max-width: 550px;
  }
}

@media (min-width: 580px){
  .container{
    max-width: 580px;
  }
}

@media (min-width: 610px){
  .container{
    max-width: 610px;
  }
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.hading-text{
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  line-height: 34px;
  --tw-text-opacity: 1;
  color: rgb(32 32 80 / var(--tw-text-opacity));
}

@media (min-width: 768px){
  .hading-text{
    font-size: 1.875rem;
    line-height: 2.25rem;
    line-height: 42px;
  }
}

@media (min-width: 1024px){
  .hading-text{
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 50px;
  }
}

.hading-color-text{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(240 90 43 / var(--tw-text-opacity));
}

@media (min-width: 768px){
  .hading-color-text{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px){
  .hading-color-text{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.paragraph-text{
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(5 23 45 / var(--tw-text-opacity));
}

.nav-paragraph-text{
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(32 32 80 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.nav-paragraph-text:hover{
  --tw-text-opacity: 1;
  color: rgb(66 66 255 / var(--tw-text-opacity));
}

.nav-paragraph-text.active{
  --tw-text-opacity: 1;
  color: rgb(66 66 255 / var(--tw-text-opacity));
}

.primary-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(112deg, #4242FF 0%, #B225FF 100%);
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}

.browseAllServices-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background-image: linear-gradient(90deg, #F05A2B 0%, #FA991B 100%);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.browseAllServices-btn:hover{
  background-image: linear-gradient(90deg, #FA991B 0%, #F05A2B 100%);
}

@media (min-width: 640px){
  .browseAllServices-btn{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px){
  .browseAllServices-btn{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@keyframes smooth-move-top-bottom {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.animate-move {
  animation: smooth-move-top-bottom 4s ease-in-out infinite;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 #eeb09d;
  }

  40% {
    box-shadow: 0 0 0 20px rgba(28, 148, 209, 0);
  }

  80% {
    box-shadow: 0 0 0 20px rgba(28, 148, 209, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(28, 148, 209, 0);
  }
}

.play-btn {
  border-radius: 50%;
  text-align: center;
  animation: animate 2s linear infinite;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceCard{
  cursor: pointer;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
}

@media (min-width: 640px){
  .serviceCard{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1024px){
  .serviceCard{
    border-radius: 40px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

.serviceCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#allServices {
  background-image: url('../image/service/service-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::-moz-selection {
  background-color: #F05A2B;
  /* Change this to the desired background color */
  color: #ffffff;
  /* Change this to the desired text color */
}

::selection {
  background-color: #F05A2B;
  /* Change this to the desired background color */
  color: #ffffff;
  /* Change this to the desired text color */
}

.pointer-events-none{
  pointer-events: none;
}

.visible{
  visibility: visible;
}

.collapse{
  visibility: collapse;
}

.static{
  position: static;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.-bottom-10{
  bottom: -2.5rem;
}

.-bottom-2{
  bottom: -0.5rem;
}

.-bottom-5{
  bottom: -1.25rem;
}

.-bottom-\[65px\]{
  bottom: -65px;
}

.-left-2{
  left: -0.5rem;
}

.-left-\[42px\]{
  left: -42px;
}

.-right-11{
  right: -2.75rem;
}

.-right-12{
  right: -3rem;
}

.-right-\[42px\]{
  right: -42px;
}

.-top-11{
  top: -2.75rem;
}

.-top-16{
  top: -4rem;
}

.-top-20{
  top: -5rem;
}

.bottom-32{
  bottom: 8rem;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.right-0{
  right: 0px;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.-z-\[1\]{
  z-index: -1;
}

.-z-\[2\]{
  z-index: -2;
}

.z-20{
  z-index: 20;
}

.z-50{
  z-index: 50;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-16{
  margin-top: 4rem;
}

.line-clamp-1{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp-5{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-10{
  height: 2.5rem;
}

.h-14{
  height: 3.5rem;
}

.h-16{
  height: 4rem;
}

.h-20{
  height: 5rem;
}

.h-24{
  height: 6rem;
}

.h-3{
  height: 0.75rem;
}

.h-7{
  height: 1.75rem;
}

.h-9{
  height: 2.25rem;
}

.h-96{
  height: 24rem;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[300px\]{
  height: 300px;
}

.h-\[96px\]{
  height: 96px;
}

.h-full{
  height: 100%;
}

.max-h-\[259px\]{
  max-height: 259px;
}

.max-h-\[332px\]{
  max-height: 332px;
}

.max-h-\[417px\]{
  max-height: 417px;
}

.max-h-\[76px\]{
  max-height: 76px;
}

.min-h-\[100vh\]{
  min-height: 100vh;
}

.min-h-full{
  min-height: 100%;
}

.w-10{
  width: 2.5rem;
}

.w-14{
  width: 3.5rem;
}

.w-16{
  width: 4rem;
}

.w-20{
  width: 5rem;
}

.w-24{
  width: 6rem;
}

.w-3{
  width: 0.75rem;
}

.w-36{
  width: 9rem;
}

.w-7{
  width: 1.75rem;
}

.w-80{
  width: 20rem;
}

.w-9{
  width: 2.25rem;
}

.w-\[300px\]{
  width: 300px;
}

.w-\[90\%\]{
  width: 90%;
}

.w-full{
  width: 100%;
}

.max-w-2xl{
  max-width: 42rem;
}

.max-w-3xl{
  max-width: 48rem;
}

.max-w-\[100px\]{
  max-width: 100px;
}

.max-w-\[1076px\]{
  max-width: 1076px;
}

.max-w-\[188px\]{
  max-width: 188px;
}

.max-w-\[200px\]{
  max-width: 200px;
}

.max-w-\[223px\]{
  max-width: 223px;
}

.max-w-\[233px\]{
  max-width: 233px;
}

.max-w-\[40px\]{
  max-width: 40px;
}

.max-w-\[420px\]{
  max-width: 420px;
}

.max-w-\[790px\]{
  max-width: 790px;
}

.max-w-\[800px\]{
  max-width: 800px;
}

.max-w-\[900px\]{
  max-width: 900px;
}

.max-w-xl{
  max-width: 36rem;
}

.shrink-0{
  flex-shrink: 0;
}

.flex-grow{
  flex-grow: 1;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.resize{
  resize: both;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-1{
  gap: 0.25rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-11{
  gap: 2.75rem;
}

.gap-12{
  gap: 3rem;
}

.gap-14{
  gap: 3.5rem;
}

.gap-16{
  gap: 4rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-2\.5{
  gap: 0.625rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-3\.5{
  gap: 0.875rem;
}

.gap-32{
  gap: 8rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-7{
  gap: 1.75rem;
}

.gap-8{
  gap: 2rem;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-12 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.space-y-14 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3.5rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-2\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-\[37px\]{
  border-radius: 37px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-b-3xl{
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rounded-b-xl{
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-l-2xl{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-l-xl{
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-r-2xl{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.rounded-r-\[20px\]{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-r-xl{
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.rounded-t-\[20px\]{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-bl-2xl{
  border-bottom-left-radius: 1rem;
}

.rounded-bl-\[20px\]{
  border-bottom-left-radius: 20px;
}

.rounded-br-2xl{
  border-bottom-right-radius: 1rem;
}

.rounded-br-\[20px\]{
  border-bottom-right-radius: 20px;
}

.rounded-br-xl{
  border-bottom-right-radius: 0.75rem;
}

.rounded-tl-xl{
  border-top-left-radius: 0.75rem;
}

.border{
  border-width: 1px;
}

.border-\[12px\]{
  border-width: 12px;
}

.border-\[15px\]{
  border-width: 15px;
}

.border-t{
  border-top-width: 1px;
}

.border-\[\#202050\]{
  --tw-border-opacity: 1;
  border-color: rgb(32 32 80 / var(--tw-border-opacity));
}

.border-\[\#504F59\]{
  --tw-border-opacity: 1;
  border-color: rgb(80 79 89 / var(--tw-border-opacity));
}

.border-borderColor{
  border-color: rgba(239, 239, 239, 0.00);
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#0FB24C\]{
  --tw-bg-opacity: 1;
  background-color: rgb(15 178 76 / var(--tw-bg-opacity));
}

.bg-\[\#D8FFCF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(216 255 207 / var(--tw-bg-opacity));
}

.bg-\[\#DDF7FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(221 247 255 / var(--tw-bg-opacity));
}

.bg-\[\#DEF5FC\]{
  --tw-bg-opacity: 1;
  background-color: rgb(222 245 252 / var(--tw-bg-opacity));
}

.bg-\[\#E2F3D7\]{
  --tw-bg-opacity: 1;
  background-color: rgb(226 243 215 / var(--tw-bg-opacity));
}

.bg-\[\#E9EAFF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(233 234 255 / var(--tw-bg-opacity));
}

.bg-\[\#EBEBFC\]{
  --tw-bg-opacity: 1;
  background-color: rgb(235 235 252 / var(--tw-bg-opacity));
}

.bg-\[\#ECE9FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(236 233 255 / var(--tw-bg-opacity));
}

.bg-\[\#ECECFF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(236 236 255 / var(--tw-bg-opacity));
}

.bg-\[\#ECEFFA\]{
  --tw-bg-opacity: 1;
  background-color: rgb(236 239 250 / var(--tw-bg-opacity));
}

.bg-\[\#EDCEFE\]{
  --tw-bg-opacity: 1;
  background-color: rgb(237 206 254 / var(--tw-bg-opacity));
}

.bg-\[\#F5F5FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 255 / var(--tw-bg-opacity));
}

.bg-\[\#F8F8FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 255 / var(--tw-bg-opacity));
}

.bg-\[\#FBF4F5\]{
  --tw-bg-opacity: 1;
  background-color: rgb(251 244 245 / var(--tw-bg-opacity));
}

.bg-\[\#FBF4FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(251 244 255 / var(--tw-bg-opacity));
}

.bg-\[\#FFC947\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 201 71 / var(--tw-bg-opacity));
}

.bg-\[\#FFDDE1\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 221 225 / var(--tw-bg-opacity));
}

.bg-\[\#FFF8F6\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 248 246 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-about-gradient1{
  background-image: linear-gradient(112deg, rgba(251, 118, 188, 0.30) 0%, rgba(178, 37, 255, 0.30) 100%);
}

.bg-about-gradient2{
  background-image: linear-gradient(112deg, rgba(66, 66, 255, 0.30) 0%, rgba(178, 37, 255, 0.30) 100%);
}

.bg-about-gradient3{
  background-image: linear-gradient(90deg, rgba(240, 90, 43, 0.30) 0%, rgba(250, 153, 27, 0.30) 100%);
}

.bg-contact-gradient{
  background-image: linear-gradient(112deg, #ECECFF 0%, #F8EBFF 100%);
}

.bg-faq-gradient{
  background-image: linear-gradient(112deg, rgba(66, 66, 255, 0.10) 0%, rgba(178, 37, 255, 0.10) 100%);
}

.bg-footer-bg{
  background-image: url('src/assets/image/home/footer-bg.png');
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-primary-gradient{
  background-image: linear-gradient(112deg, #4242FF 0%, #B225FF 100%);
}

.bg-testimonial-gradient{
  background-image: linear-gradient(112deg, rgba(71, 68, 173, 0.15) 1.36%, rgba(56, 64, 247, 0.15) 19.75%, rgba(243, 98, 53, 0.15) 38.33%, rgba(217, 60, 101, 0.15) 59.85%, rgba(178, 37, 255, 0.15) 74.98%, rgba(83, 216, 255, 0.15) 99.16%);
}

.bg-testimonial-user-gradient{
  background-image: linear-gradient(112deg, rgba(66, 66, 255, 0.80) 0%, rgba(251, 118, 188, 0.80) 50.3%, rgba(178, 37, 255, 0.80) 100%);
}

.from-\[\#4242FF\]{
  --tw-gradient-from: #4242FF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(66 66 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#B225FF\]{
  --tw-gradient-to: #B225FF var(--tw-gradient-to-position);
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-top{
  background-position: top;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.fill-current{
  fill: currentColor;
}

.p-0\.5{
  padding: 0.125rem;
}

.p-14{
  padding: 3.5rem;
}

.p-2{
  padding: 0.5rem;
}

.p-2\.5{
  padding: 0.625rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-\[1px\]{
  padding: 1px;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-3\.5{
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[11px\]{
  padding-left: 11px;
  padding-right: 11px;
}

.px-\[19px\]{
  padding-left: 19px;
  padding-right: 19px;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5{
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[34px\]{
  padding-top: 34px;
  padding-bottom: 34px;
}

.py-\[7px\]{
  padding-top: 7px;
  padding-bottom: 7px;
}

.pb-16{
  padding-bottom: 4rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pb-24{
  padding-bottom: 6rem;
}

.pb-7{
  padding-bottom: 1.75rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pl-2\.5{
  padding-left: 0.625rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pr-5{
  padding-right: 1.25rem;
}

.pr-6{
  padding-right: 1.5rem;
}

.ps-2{
  padding-inline-start: 0.5rem;
}

.ps-6{
  padding-inline-start: 1.5rem;
}

.pt-28{
  padding-top: 7rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-7{
  padding-top: 1.75rem;
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.font-inter{
  font-family: Inter, sans-serif;
}

.font-playfair{
  font-family: Playfair Display, serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-\[32px\]{
  font-size: 32px;
}

.text-\[42px\]{
  font-size: 42px;
}

.text-\[48px\]{
  font-size: 48px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-\[45px\]{
  line-height: 45px;
}

.text-\[\#05172D\]{
  --tw-text-opacity: 1;
  color: rgb(5 23 45 / var(--tw-text-opacity));
}

.text-\[\#12141D\]{
  --tw-text-opacity: 1;
  color: rgb(18 20 29 / var(--tw-text-opacity));
}

.text-\[\#16CAFF\]{
  --tw-text-opacity: 1;
  color: rgb(22 202 255 / var(--tw-text-opacity));
}

.text-\[\#202050\]{
  --tw-text-opacity: 1;
  color: rgb(32 32 80 / var(--tw-text-opacity));
}

.text-\[\#3840F7\]{
  --tw-text-opacity: 1;
  color: rgb(56 64 247 / var(--tw-text-opacity));
}

.text-\[\#398A54\]{
  --tw-text-opacity: 1;
  color: rgb(57 138 84 / var(--tw-text-opacity));
}

.text-\[\#3C869C\]{
  --tw-text-opacity: 1;
  color: rgb(60 134 156 / var(--tw-text-opacity));
}

.text-\[\#4242FF\]{
  --tw-text-opacity: 1;
  color: rgb(66 66 255 / var(--tw-text-opacity));
}

.text-\[\#49B530\]{
  --tw-text-opacity: 1;
  color: rgb(73 181 48 / var(--tw-text-opacity));
}

.text-\[\#5563E2\]{
  --tw-text-opacity: 1;
  color: rgb(85 99 226 / var(--tw-text-opacity));
}

.text-\[\#6E6BDC\]{
  --tw-text-opacity: 1;
  color: rgb(110 107 220 / var(--tw-text-opacity));
}

.text-\[\#76797D\]{
  --tw-text-opacity: 1;
  color: rgb(118 121 125 / var(--tw-text-opacity));
}

.text-\[\#A315F0\]{
  --tw-text-opacity: 1;
  color: rgb(163 21 240 / var(--tw-text-opacity));
}

.text-\[\#E54172\]{
  --tw-text-opacity: 1;
  color: rgb(229 65 114 / var(--tw-text-opacity));
}

.text-\[\#E8E8E8\]{
  --tw-text-opacity: 1;
  color: rgb(232 232 232 / var(--tw-text-opacity));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(240 90 43 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-50{
  opacity: 0.5;
}

.opacity-70{
  opacity: 0.7;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-heroBox{
  --tw-shadow: 10px 10px 80px 0px rgba(0, 0, 0, 0.10);
  --tw-shadow-colored: 10px 10px 80px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-nav{
  --tw-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  --tw-shadow-colored: 0px 0px 1px 0px var(--tw-shadow-color), 0px 3px 8px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-350{
  transition-duration: 350ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:bg-\[\#1c9648\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(28 150 72 / var(--tw-bg-opacity));
}

.hover\:bg-gradient-to-r:hover{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.hover\:bg-primary-gradient-hover:hover{
  background-image: linear-gradient(112deg, #B225FF 0%, #4242FF 100%);
}

.hover\:text-\[\#c7c6c6\]:hover{
  --tw-text-opacity: 1;
  color: rgb(199 198 198 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 480px){
  .sm-mobile-480\:-bottom-\[50px\]{
    bottom: -50px;
  }
}

@media (min-width: 520px){
  .sm-mobile-520\:h-20{
    height: 5rem;
  }

  .sm-mobile-520\:h-28{
    height: 7rem;
  }

  .sm-mobile-520\:w-20{
    width: 5rem;
  }

  .sm-mobile-520\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 640px){
  .sm\:-bottom-1{
    bottom: -0.25rem;
  }

  .sm\:-left-12{
    left: -3rem;
  }

  .sm\:-left-32{
    left: -8rem;
  }

  .sm\:-right-\[150px\]{
    right: -150px;
  }

  .sm\:-right-\[9px\]{
    right: -9px;
  }

  .sm\:-top-12{
    top: -3rem;
  }

  .sm\:bottom-20{
    bottom: 5rem;
  }

  .sm\:top-10{
    top: 2.5rem;
  }

  .sm\:mb-16{
    margin-bottom: 4rem;
  }

  .sm\:mb-36{
    margin-bottom: 9rem;
  }

  .sm\:mt-16{
    margin-top: 4rem;
  }

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:h-32{
    height: 8rem;
  }

  .sm\:h-\[18px\]{
    height: 18px;
  }

  .sm\:w-32{
    width: 8rem;
  }

  .sm\:w-\[18px\]{
    width: 18px;
  }

  .sm\:w-\[80\%\]{
    width: 80%;
  }

  .sm\:w-\[90\%\]{
    width: 90%;
  }

  .sm\:max-w-\[300px\]{
    max-width: 300px;
  }

  .sm\:max-w-\[400px\]{
    max-width: 400px;
  }

  .sm\:max-w-lg{
    max-width: 32rem;
  }

  .sm\:-translate-y-0{
    --tw-translate-y: -0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:items-start{
    align-items: flex-start;
  }

  .sm\:justify-start{
    justify-content: flex-start;
  }

  .sm\:gap-12{
    gap: 3rem;
  }

  .sm\:gap-5{
    gap: 1.25rem;
  }

  .sm\:gap-6{
    gap: 1.5rem;
  }

  .sm\:gap-8{
    gap: 2rem;
  }

  .sm\:gap-9{
    gap: 2.25rem;
  }

  .sm\:space-y-12 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-16 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-20 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(5rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-6 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-7 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
  }

  .sm\:space-y-8 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .sm\:rounded-2xl{
    border-radius: 1rem;
  }

  .sm\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .sm\:rounded-b-2xl{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .sm\:p-10{
    padding: 2.5rem;
  }

  .sm\:p-5{
    padding: 1.25rem;
  }

  .sm\:p-7{
    padding: 1.75rem;
  }

  .sm\:p-8{
    padding: 2rem;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .sm\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sm\:px-\[21px\]{
    padding-left: 21px;
    padding-right: 21px;
  }

  .sm\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sm\:py-14{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .sm\:py-2\.5{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .sm\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sm\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sm\:pb-0{
    padding-bottom: 0px;
  }

  .sm\:pt-0{
    padding-top: 0px;
  }

  .sm\:text-start{
    text-align: start;
  }

  .sm\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .sm\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px){
  .md\:-bottom-\[17px\]{
    bottom: -17px;
  }

  .md\:-right-\[14px\]{
    right: -14px;
  }

  .md\:-right-\[210px\]{
    right: -210px;
  }

  .md\:-right-\[88px\]{
    right: -88px;
  }

  .md\:-top-\[70px\]{
    top: -70px;
  }

  .md\:h-full{
    height: 100%;
  }

  .md\:w-52{
    width: 13rem;
  }

  .md\:max-w-2xl{
    max-width: 42rem;
  }

  .md\:max-w-\[130px\]{
    max-width: 130px;
  }

  .md\:max-w-\[450px\]{
    max-width: 450px;
  }

  .md\:max-w-\[480px\]{
    max-width: 480px;
  }

  .md\:max-w-\[78px\]{
    max-width: 78px;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:gap-14{
    gap: 3.5rem;
  }

  .md\:gap-16{
    gap: 4rem;
  }

  .md\:gap-4{
    gap: 1rem;
  }

  .md\:gap-8{
    gap: 2rem;
  }

  .md\:space-y-10 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .md\:space-y-12 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }

  .md\:space-y-16 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
  }

  .md\:space-y-8 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .md\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .md\:rounded-\[40px\]{
    border-radius: 40px;
  }

  .md\:rounded-b-none{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .md\:rounded-l-3xl{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .md\:rounded-r-2xl{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .md\:rounded-r-3xl{
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .md\:rounded-bl-3xl{
    border-bottom-left-radius: 1.5rem;
  }

  .md\:rounded-br-3xl{
    border-bottom-right-radius: 1.5rem;
  }

  .md\:rounded-tl-3xl{
    border-top-left-radius: 1.5rem;
  }

  .md\:bg-left-top{
    background-position: left top;
  }

  .md\:bg-right-top{
    background-position: right top;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md\:pb-16{
    padding-bottom: 4rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:leading-\[70px\]{
    line-height: 70px;
  }
}

@media (min-width: 1024px){
  .lg\:-bottom-11{
    bottom: -2.75rem;
  }

  .lg\:-left-\[38px\]{
    left: -38px;
  }

  .lg\:-right-\[315px\]{
    right: -315px;
  }

  .lg\:bottom-0\.5{
    bottom: 0.125rem;
  }

  .lg\:left-0{
    left: 0px;
  }

  .lg\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-5{
    grid-column: span 5 / span 5;
  }

  .lg\:col-span-7{
    grid-column: span 7 / span 7;
  }

  .lg\:mb-24{
    margin-bottom: 6rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:max-w-4xl{
    max-width: 56rem;
  }

  .lg\:max-w-\[203px\]{
    max-width: 203px;
  }

  .lg\:max-w-\[547px\]{
    max-width: 547px;
  }

  .lg\:max-w-\[558px\]{
    max-width: 558px;
  }

  .lg\:max-w-\[626px\]{
    max-width: 626px;
  }

  .lg\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-col{
    flex-direction: column;
  }

  .lg\:justify-start{
    justify-content: flex-start;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:gap-0{
    gap: 0px;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:gap-7{
    gap: 1.75rem;
  }

  .lg\:gap-\[60px\]{
    gap: 60px;
  }

  .lg\:gap-x-8{
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .lg\:gap-y-20{
    row-gap: 5rem;
  }

  .lg\:space-y-10 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-12 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-14 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3.5rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-24 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(6rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-40 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(10rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(10rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }

  .lg\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .lg\:rounded-\[40px\]{
    border-radius: 40px;
  }

  .lg\:rounded-l-\[40px\]{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .lg\:rounded-r-3xl{
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .lg\:rounded-r-\[40px\]{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .lg\:rounded-bl-\[40px\]{
    border-bottom-left-radius: 40px;
  }

  .lg\:rounded-br-\[40px\]{
    border-bottom-right-radius: 40px;
  }

  .lg\:rounded-tl-\[40px\]{
    border-top-left-radius: 40px;
  }

  .lg\:p-16{
    padding: 4rem;
  }

  .lg\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-28{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:py-36{
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .lg\:py-\[34px\]{
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .lg\:pb-24{
    padding-bottom: 6rem;
  }

  .lg\:pl-\[60px\]{
    padding-left: 60px;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1280px){
  .xl\:-bottom-10{
    bottom: -2.5rem;
  }

  .xl\:-bottom-16{
    bottom: -4rem;
  }

  .xl\:-right-\[125px\]{
    right: -125px;
  }

  .xl\:-right-\[381px\]{
    right: -381px;
  }

  .xl\:mb-32{
    margin-bottom: 8rem;
  }

  .xl\:ml-\[105px\]{
    margin-left: 105px;
  }

  .xl\:w-full{
    width: 100%;
  }

  .xl\:max-w-5xl{
    max-width: 64rem;
  }

  .xl\:max-w-\[422px\]{
    max-width: 422px;
  }

  .xl\:max-w-\[626px\]{
    max-width: 626px;
  }

  .xl\:gap-24{
    gap: 6rem;
  }

  .xl\:gap-\[128px\]{
    gap: 128px;
  }

  .xl\:py-60{
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .xl\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .xl\:text-\[64px\]{
    font-size: 64px;
  }

  .xl\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:leading-\[70px\]{
    line-height: 70px;
  }

  .xl\:leading-\[90px\]{
    line-height: 90px;
  }
}

@media (min-width: 1536px){
  .\32xl\:-bottom-\[50px\]{
    bottom: -50px;
  }

  .\32xl\:-right-\[150px\]{
    right: -150px;
  }

  .\32xl\:ml-\[213px\]{
    margin-left: 213px;
  }

  .\32xl\:w-full{
    width: 100%;
  }

  .\32xl\:max-w-6xl{
    max-width: 72rem;
  }

  .\32xl\:max-w-\[442px\]{
    max-width: 442px;
  }

  .\32xl\:justify-center{
    justify-content: center;
  }

  .\32xl\:text-\[64px\]{
    font-size: 64px;
  }

  .\32xl\:leading-\[85px\]{
    line-height: 85px;
  }
}